body{
  background: fixed;

  background-image: radial-gradient(at left top, #f4b5fb, #594ada);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.btn{
  border-radius: 100px;

}
